{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
<div class="custom-featured-collection">
  <div class="page-width">
    <div class="custom-featured-collection-wrap">
      {%- if section.settings.title != blank -%}
      <div class="section__title">
        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
      </div>
      {%- endif -%}      
      <div class="custom-featured-collection-slider custom-flex">
        
        {%- for product in section.settings.collection.products -%}
        
        <div class="custom-featured-collection-item">
          
          {% render 'custom-card-product',
              card_product: product,
          	  section_id: section.id
          %}
      
        </div>
        {%- endfor -%}
      </div>
      <div class="custom-featured-collection-dots">
        {%- for product in section.settings.collection.products -%}
        <div class="custom-featured-collection-dot"><span></span></div>
        {%- endfor -%}
      </div>         
      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Feat Collection",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured collection",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
	],
    "presets": [
      {
        "name": "Custom Feat Collection"
      }
    ]
  }
{% endschema %}